<form method="POST" action="/new">
    label(for="author") Author name:
    <input type="text" id="author" name="author">
    label(for="messageText") Text 
    <input type="text" id="messageText" name="messageText">
    button(type="submit")  Save
</form>